/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require store
 */

body {
	background-color: #eee;
	margin: 0 auto;
  min-height: 800px;
}
.pagination {
	padding-left: 10px;
}
.navbar-inverse {
	background-color: #fff;
	border-color: #fff;
}
.notice {
	margin: 0px auto 10px auto;
	line-height: 30px;
	padding-left: 10px;
	background-color: #5cb85c;
	width: 68%;
	display: none;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}

/* form related */
.title_aboved_form {
	text-align: center;
	background-color: #fff;
	margin: 40px auto 0 25%;
	padding: 10px 0 0 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.common_use_form {
	background-color: #fff;
}
.link_belowed_form {
	display: inline-block;
	width: 50%;
	background-color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 10px 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.link_belowed_form:hover {
	color: #333;
	background-color: #fff;
}
