/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require store
 */

body {
	background-color: #eee;
	margin: 0 auto;
  min-height: 800px;
}
/* form related common stylesheet */
.h1--adjust_margin_and_padding {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px 10px;
}
.table--width_less {
	width: 66.66666666% !important;
}
.table--no_margin_bottom {
	margin-bottom: 0;
}
.form_img--padding_adjust {
	padding: 0 0 14px 7px;
}
.bg_color_white {
	background-color: white;
}
.edit_page-title {
	border-bottom: 1px solid #eee;
}
.edit_page-submit_btn_wrapper {
	border-top: 1px solid #eee;
}
.edit_page-submit_btn {
	margin: 10px 0;
}
/*-----end------*/

div.navbar-header a:hover {
	color: #333 !important;
}
ul.nav > li > a:hover {
	color: #333 !important;
}
.pagination {
	padding-left: 10px;
}
.navbar-inverse {
	background-color: #fff;
	border-color: #fff;
}
.navbar_link_list {
  float: left;
}
.locale {
	float: right;
	margin: 8px auto;
}
.dropdown {
	border-radius: 3px;
	color: #9d9d9d; 
	background-color: #fff;
}
.notice {
	margin: 0px auto 10px auto;
	line-height: 30px;
	padding-left: 10px;
	background-color: #5cb85c;
	width: 66.66666666%;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.navbar-user_info {
	float: right;
	margin: 8px 0 8px 10px;
}
.navbar-login {
	display: inline-block;
}
.navbar-user_name {
	color: #333;
	font-weight: bold;
	display: inline-block;
	padding: 15px 0 15px 15px;
	height: 50px;
}

/* form related */
.title_aboved_form {
	text-align: center;
	background-color: #fff;
	margin: 40px auto 0 25%;
	padding: 10px 0 0 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.common_use_form {
	background-color: #fff;
}
.link_belowed_form {
	display: inline-block;
	width: 50%;
	background-color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 10px 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.link_belowed_form:hover {
	color: #333;
	background-color: #fff;
}
