// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.book-categories {
	background-color: #fff;
	height: 600px;
	margin-left: 11.75%;
}

.book-list {
	background-color: #fff;
	height: 100%;
	margin-left: 1.5%;
	h2 {

	}
	.book-list__ele {
		margin: 0 10px 10px 10px;
		width: 100%;
		height: 100%;
		overflow: auto;
		.book-list__image {
			float: left;
			width: 20%;
			height: 100%;
		}
		.book-list__info{
			width: 80%;
			height: 100%;
			margin-left: 20%;
			.book-list__title {
				margin: 5px 0 10px 10px;
				font-weight: bold;
				font-size: 16px;
			}
			.book-list__des {
				margin: 0 20px 10px 10px;
			}
		}
	}
<<<<<<< HEAD
	.price-line{
		display: inline;
		.product-price {
			margin: 5px 0 10px 10px;
			border-bottom: 1px solid #eee;
		}
		form {
			display: inline;
		}
		.btn-add-to-cart{
			margin-left: 200px;
			border-radius: 5px;
		}
	}	
=======
	.book-list__price-line {
		margin: 5px 0 10px 10px;
		border-bottom: 1px solid #eee;
		.book-list__price {
			float: left;
			line-height: 24px;
		}
		.book-list__add-to-cart {
			margin-left: 130px;
		}
	}
>>>>>>> 73193e1dffa2199d103b3e585e8aaf29caa577f0
}
