// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination {
	width: 66.66666666%;
  margin: 0 0 -6px 16.66666666%;
	padding: 10px 0 10px 10px;
	background-color: white;
	border-top: 1px solid #eee;
	margin-left: 16.666666666%;
}
