<h1 class="h1--adjust_margin_and_padding bg_color_white col-lg-8 col-lg-offset-2">Editing Category</h1>

<%= render 'form', category: @category %>

<div class="col-lg-8 col-lg-offset-2 bg_color_white edit_page-submit_btn_wrapper">
	<%= link_to 'Back', categories_path, class: "btn btn-primary edit_page-submit_btn" %>
</div>
