<div class="store_about col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
	<h3 class="store_about-title">About This Online Book Store</h3>
	<p class="store_about-content">
		This project Online Book Store has been developed on Ruby, Rails and MySQL.The main object for developing this project was to sell book online order.This project intends different types of forms with many types of books like story, drama, adventures, romance, mystery, history, religious etc provides to user to buy online through internet. The project helps to buy, sell books online by internet connection. It can manage purchasing of books online, customer can choose many types of book categories, online payments, delivery services etc. This project is very helpful for customer to easy buy any types of book. This project provides a lot of features to manage in very well manner. This project contains a lot of advance modules which makes the back end system very powerful. In current system, we have integrated a single payment system Cash on delivery but in future we will enhance it with online payment system.
	</p>
</div>
